<!-- Where Section -->
    <section id="where">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Location</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p><i class="fas fa-calendar-alt"></i> The conference took place on Friday, June 21, 2019.</p>
                    <p><i class="fas fa-map-marker-alt"></i> It took take place at:</p>
                    <p class="large">Brooklyn Law School<br>Subotnick Center, 11th Floor<br>250 Joralemon St<br>Brooklyn, NY 11201</p>
                </div>
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <div class="embed-responsive embed-responsive-4by3"><iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.1875789186347!2d-73.99187648505573!3d40.691866279334114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a495240cd63%3A0x8db4911aa0c6e4c0!2sBrooklyn+Law+School!5e0!3m2!1sen!2sus!4v1552153840630" style="border:0" allowfullscreen></iframe></div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <h3 class="section-heading text-center">Questions?</h3>
                    <p><i class="fas fa-envelope"></i> E-mail <a href="mailto:docacon@docassemble.org">docacon@docassemble.org</a> with any questions you have about Docacon 2019.</p>
                </div>
            </div>
        </div>
    </section>
