<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Docacon</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Docacon is the annual conference for the user community of <a target="_blank" href="https://docassemble.org">docassemble</a>, the free, open-source platform for the development of web-based expert system and document assembly applications.</p>
                    <p>Docacon 2019 <a href="#where">took place</a> at <strong>Brookyln Law School</strong> on <strong>Friday, June 21, 2019</strong>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading text-center">Sponsors</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="row vertical-align-middle">
                    {% for sponsor in site.sponsors %}
                    {% assign mod = forloop.index0 | modulo: 2 %}
                    {% if mod == 0 %}
                    <div class="row vertical-align-middle">
                    {% endif %}
                        <div class="col-sm-6{% if forloop.last %} col-sm-offset-3{% endif %}">
                            <div class="sponsor">
                                <a href="{{ sponsor.url }}"><img src="img/sponsors/{{ sponsor.pic }}" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                    {% if mod == 1 or forloop.last %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
