<!-- Agenda Section -->
    <section id="agenda" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-lg-offset-3 text-center">
                    <h2 class="section-heading">Agenda</h2>
                    <p><strong>Friday, June 21, 2019</strong></p>
                    <h3>Registration</h3>
                    <p class="timeslot">8:30 - 9:00</p>
                    <h3>Welcome</h3>
                    <p class="timeslot">9:00 - 9:10</p>
                    <p class="speakers">Jonathan Pyle</p>
                    <h3>Getting started with Docassemble</h3>
                    <p class="timeslot">9:10 - 10:00</p>
                    <p class="speakers">Thomas Officer, Toby Grytafey, Jonathan Pyle</p>
                    <p>This session will provide a nuts-and-bolts
                    tutorial on the basics of creating guided
                    interviews in Docassemble.</p>
                    <h3>Law firm models for Docassemble:
                    sustainability, metrics, integrations, and
                    buy-in</h3>
                    <p class="timeslot">10:00 - 11:00</p>
                    <p class="speakers">Dorna Moini, Robert J. Hudock</p>
                    <p>This session will describe how users can build
                    Docassemble interviews that are useful in the law
                    firm context while being financially sustainable.
                    We’ll cover examples of business-to-consumer (B2C)
                    Docassemble web apps, how those apps have affected
                    revenue and client-retention, what integrations
                    are essential to form a complete app, and how to
                    build stakeholders within a firm.</p>
                    <h3>Break</h3>
                    <p class="timeslot">11:00 - 11:10</p>
                    <h3>Designing Docassemble interviews for
                    maintainability, start to finish</h3>
                    <p class="timeslot">11:10 - 12:00</p>
                    <p class="speakers">Quinten Steenhuis</p>
                    <p>This session will walk through the elements
                    that make a large Docassemble interview
                    maintainable: logical separation of interview
                    blocks and files, the use of Python modules to
                    encapsulate logic, appropriate editors, and
                    more. The session will also touch on related
                    issues briefly, such as testing, ways to solicit
                    user feedback, and development/production
                    protocols. This session will contain content
                    appropriate for both new and experienced
                    developers.</p>
                    <h3>Lunch / Docassemble showcase</h3>
                    <p class="timeslot">12:00 - 1:40</p>
                    <p class="speakers">Claire Johnson Raba, Linda Tvrdy, Mike Carlson, Everett Pompeii, Quinten Steenhuis</p>
                    <p>How are people using Docassemble?  This is an
                    informal “show-and-tell” series of short
                    presentations of different guided interviews that
                    people have created.  Lunch will be provided.</p>
                    <h3>Speaking the same language to improve the
                    communicative aspect of law</h3>
                    <p class="timeslot">1:40 - 2:30</p>
                    <p class="speakers">Toby Grytafey</p>
                    <p>Much of the attention and measurement of legal
                    technology is intended to improve one of law's
                    roles, decision-making in dispute resolution,
                    while less attention is paid to the communicative
                    role of law, which sets norms and behavioral
                    baselines. Improvements in communication depend on
                    our ability to speak the same language in standard
                    ways across jurisdiction. This session will
                    introduce and discuss different methods and topics
                    to standardize the way we discuss law, such as the
                    NSMI, DMN, LKIF, L10n, and other methods. The
                    session will involve a group discussion about the
                    potential and the obstacles of these methods in
                    promoting a broad understanding of law.</p>
                    <h3>Break</h3>
                    <p class="timeslot">2:30 - 2:45</p>
                    <h3>Over here!</h3>
                    <p class="timeslot">2:45 - 3:45</p>
                    <p class="speakers">Everett Pompeii</p>
                    <p>Whether you're building a free app for pro se
                    litigants or trying to create the next “TurboTax
                    for X,” actually developing the software is only
                    half the battle. This session will discuss how to
                    market and promote consumer facing legal
                    applications built on Docassemble. From content
                    marketing and drip campaigns to community outreach
                    and stakeholder buy in, we’ll investigate what
                    user generation strategies will work best for your
                    application.</p>
                    <h3>Towards a GitHub for Legal</h3>
                    <p class="timeslot">3:45 - 4:45</p>
                    <p class="speakers">Michael Hassin</p>
                    <p>How can the Docassemble community create its own “GitHub” for Legal&mdash;a place where lawyers, courts, and advocates can come together to discover and collaborate on the next generation of legal technology? This session will explore the challenges to making this a reality and how Community.lawyer is working to overcome them. The presentation discusses how two key issues&mdash;tools and incentives&mdash;are at the heart of unlocking a new wave of Docassemble-powered legal service delivery.</p>
                    <h3>Concluding remarks</h3>
                    <p class="timeslot">4:45 - 5:00</p>
                    <p class="speakers">Jonathan Pyle</p>
                    <h3>Happy hour</h3>
                    <p class="timeslot">5:00 - ?</p>
                    <p>Location to be announced.</p>
                </div>
            </div>
        </div>
    </section>
