  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Jonathan Pyle {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        {% if network.title == 'envelope' %}
                        <li><a href="{{ network.url }}"><i class="fas fa-{{ network.title }}"></i></a>
                        </li>
                        {% else %}
                        <li><a href="{{ network.url }}"><i class="fab fa-{{ network.title }}"></i></a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://github.com/jhpyle/docacon-dot-com">View on GitHub</a>
                        </li>
                        <li><a href="https://docassemble.org">Docassemble</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
