<!-- Team Section -->
    <section id="register" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    Registration closed on May 6, 2019.  If you did
                    not register but you are interested in attending,
                    e-mail us
                    at <a href="mailto:docacon@docassemble.org">docacon@docassemble.org</a>
                    and we will let you know if space is available.
                </div>
            </div>
        </div>
    </section>
