<!-- Where Section -->
    <section id="where">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Logistics</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Docacon 2019 will take place on Friday, June 21, 2019.</p>
                    <p>The schedule is not finalized yet, but it will be an all-day conference.</p>
                    <p>The conference will take place at:</p>
                    <blockquote>Brooklyn Law School<br>250 Joralemon St<br>Brooklyn, NY 11201</blockquote>
                </div>
                <div class="col-lg-4 col-lg-offset-4 text-center">
                    <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.1875789186347!2d-73.99187648505573!3d40.691866279334114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a495240cd63%3A0x8db4911aa0c6e4c0!2sBrooklyn+Law+School!5e0!3m2!1sen!2sus!4v1552153840630" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <h3 class="section-heading text-center">Where to stay</h3>
                    <p>Docacon does not have a conference hotel.  To find a place to stay in the Brooklyn area, we suggest looking at <a target="_blank" href="https://www.airbnb.com/s/Brooklyn--NY--United-States/all?query=Brooklyn%2C%20NY%2C%20United%20States&checkin=2019-06-20&checkout=2019-06-21&adults=1&children=0&infants=0&guests=1&place_id=ChIJCSF8lBZEwokRhngABHRcdoI&refinement_paths%5B%5D=%2Ffor_you&toddlers=0">Airbnb</a> or <a target="_blank" href="https://www.hotels.com/search.do?resolved-location=CITY%3A1496773%3AUNKNOWN%3AUNKNOWN&destination-id=1496773&q-destination=Brooklyn,%20New%20York,%20United%20States%20of%20America&q-check-in=2019-06-20&q-check-out=2019-06-21&q-rooms=1&q-room-0-adults=1&q-room-0-children=0">Hotels.com</a>.</p>
                </div>
            </div>
        </div>
    </section>
