<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="The annual conference of the Docassemble user community will take place on Friday, June 26, 2020 in Tampa, Florida.">

        <meta name="author" content="Jonathan H. Pyle">

        <title>Docacon 2020</title>

        <!-- Mobile Specific Meta-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Social -->
        <meta itemprop="name" content="Docacon 2020">
        <meta itemprop="description" content="The annual conference of the Docassemble user community will take place on Friday, June 26, 2020 in Tampa, Florida.">
        <meta itemprop="image" content="https://docacon.com/images/docacon2020.jpg">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@docassemble">
        <meta name="twitter:title" content="Docacon 2020">
        <meta name="twitter:description" content="The annual conference of the Docassemble user community will take place on Friday, June 26, 2020 in Tampa, Florida.">
        <meta name="twitter:creator" content="@docassemble">
        <meta name="twitter:image" content="https://docacon.com/images/docacon2020.jpg">
        <meta name="twitter:image:alt" content="Docacon 2020 in Tampa, Florida">
        <meta property="og:title" content="Docacon 2019" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://docacon.com/" />
        <meta property="og:image" content="https://docacon.com/images/docacon2020.jpg" />
        <meta property="og:description" content="The annual conference of the Docassemble user community will take place on Friday, June 26, 2020 in Tampa, Florida." />
        <meta property="og:site_name" content="Docacon 2020" />
        <meta property="fb:admins" content="519356657" />
        <!-- Font awesome -->
        <link rel="stylesheet" href="css/font-awesome/css/all.css">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon-32x32.png" />
        <!-- bootstrap.min css -->
        <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
        <!-- Icon Css -->
        <link rel="stylesheet" href="plugins/themefisher-font/style.css">
        <!-- animate.css -->
        <link rel="stylesheet" href="plugins/animate-css/animate.css">
        <!-- Magnify Popup -->
        <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
        <!-- Slick Slider CSS -->
        <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/style.css">

    </head>

    <body id="body">

        <!--  preloader start -->
        <div id="tb-preloader">
            <div class="tb-preloader-wave"></div>
        </div>
        <!-- preloader end -->

        <!-- Navigation Start -->

        <header class="header-bar">
            <nav class="navbar navbar-expand-lg main-nav">
                <div class="container">
                    <!--      LOGO BAR     -->
                    <a class="navbar-brand" href="index.html">
                        <img src="images/cat-on-beach2.svg" alt="docassemble logo" class="img-fluid logo-b "><span>Docacon 2020</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="tf-ion-android-menu"></span>
                    </button>

                    <!--  MAIN MENU  -->
                    <div class="collapse navbar-collapse " id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sponsors">Sponsors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#location">Location</a>
                            </li>
                        </ul>
                        <a target="_blank" href="https://forms.gle/BRxTzwY5JacgSSjd8" class="btn btn-secondary btn-rounded mt-3 mt-lg-0">Register</a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Navigation End -->

        <!-- Section START-->
        <section class="section-banner d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mr-auto">
                        <div class="banner-content">
                            <span>Friday, June 26, 2020</span>
                            <h1 class="mt-3 mb-5">Docacon 2020</h1>
                            <a href="#about" class="btn btn-hero btn-rounded">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section END-->

        <section class="counter-wrap">
	    <div class="container">
		<div class="position-relative counter-inner">
		    <div class="row align-items-center">
			<div class="col-lg-6 col-12">
			    <div class="counter-stat pl-lg-5">
				<h2 class="font-weight-light">Conference starts in</h2>
			    </div>
			</div>

			<div id="simple-timer" class="syotimer"></div>
		    </div>
		</div>
	    </div>
        </section>
        <section class="section about">
            <a name="about"></a>
	    <div class="container">
		<div class="row">
		    <div class="col-lg-5">
			<div class="about-img position-relative">
			    <img src="images/about/Quinten-Steenhuis.jpg" alt="" class="img-fluid w-100">
			    <div class="img-block">
				<img src="images/about/docacon-2018.jpg" alt="" class="img-fluid">
			    </div>
			</div>
		    </div>

		    <div class="col-lg-7">
			<div class="about-content-wrap mt-5 mt-lg-0">
			    <span class="stroke-text">learn</span>
			    <div class="ml-90">
				<h2 class="text-lg mb-3 mt-3">Increase your docassemble skills</h2>
				<p>Docacon 2020 is a one-day intensive training conference with two tracks: beginner and advanced.  You can self-select into which track is appropriate for you.</p>
				<p>The beginner track is appropriate for people who have no or a little experience with docassembe.</p>
                                <p>The advanced track is appropriate for people who are already developing guided interviews in docassemble.</p>
                                <p>The topics covered in each track are currently in development.  You can provide input into the topics covered by <a target="_blank" href="https://forms.gle/DT3R78ht5P1SPJKq6">filling out this survey</a>.  You can wait until the day of the event to decide which track you want to attend.</p>
                                <p><b>Registration cost: free.</b>  If you enjoy using open-source software and attending free conferences, consider making a <a target="_blank" href="https://www.merlinfoundation.org/donate">donation to the Merlin Legal Open Source Foundation</a> to help sustain this and other open-source projects.</p>
				<a target="_blank" href="https://forms.gle/BRxTzwY5JacgSSjd8" class="btn btn-hero btn-rounded mt-3">Register</a>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
        </section>
        <section class="section-schedule section-bottom ">
            <div class="container">
                <div class="row section-heading">
                    <div class="col-lg-6">
                        <div class="heading">
                            <span class="stroke-text">Schedule</span>
                            <!-- <div class="pl-90"> -->
                            <!--     <h2 class="mt-2">Topic Discussion</h2> -->
                            <!--     <p>Accusantium provident suscipit dicta magni dolor deserunt nam obcaecati non veritatis optio.</p> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="mt-5 time-table pl-0 list-unstyled">
                            <li class="d-lg-flex align-items-center justify-content-between bg-light p-4 mb-3">
                                <h4 class="time text-color">8.30 a.m.</h4>
                                <div class="content">
                                    <h3 class="mb-3">Breakfast</h3>
                                </div>
                                <div class="content-img text-lg-right big">
                                    <i class="fas fa-coffee fa-fw"></i>
                                </div>
                            </li>
                            <li class="d-lg-flex align-items-center justify-content-between bg-light p-4 mb-3">
                                <h4 class="time text-color">9:00 a.m.</h4>
                                <div class="content">
                                    <h3 class="mb-3">Morning session</h3>
                                </div>
                                <div class="content-img text-lg-right big">
                                    <i class="fas fa-chalkboard-teacher fa-fw"></i>
                                </div>
                            </li>
                            <li class="d-lg-flex align-items-center justify-content-between bg-light p-4 mb-3">
                                <h4 class="time text-color">12:00 p.m.</h4>
                                <div class="content">
                                    <h3 class="mb-3">Lunch break</h3>
                                </div>
                                <div class="content-img text-lg-right big">
                                    <i class="fas fa-utensils fa-fw"></i>
                                </div>
                            </li>
                            <li class="d-lg-flex align-items center justify-content-between bg-light p-4 mb-3">
                                <h4 class="time text-color">1:00 p.m.</h4>
                                <div class="content">
                                    <h3 class="mb-3 ">Afternoon session</h3>
                                </div>
                                <div class="content-img text-lg-right big">
                                    <i class="fas fa-chalkboard-teacher fa-fw"></i>
                                </div>
                            </li>
                            <li class="d-lg-flex align-items-center justify-content-between bg-light p-4 mb-3">
                                <h4 class="time text-color">4:30 p.m.</h4>
                                <div class="content">
                                    <h3 class="mb-3 ">Happy hour</h3>
                                </div>
                                <div class="content-img text-lg-right big">
                                    <i class="fas fa-glass-cheers fa-fw"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-speaker section">
            <a name="instructors"></a>
	    <div class="container">
		<div class="row section-heading">
                    <div class="col-lg-6">
                        <div class="heading">
                            <span class="stroke-text">Instructors</span>
                            <!-- <div class="pl-90"> -->
                            <!--     <h2 class="">Who's teaching</h2> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>

		<div class="row">
        	    <div class="col-lg-4 col-md-6">
        		<div class="speaker-block mb-5">
        		    <div class="img-block">
                                <img src="images/speakers/sam-harden.jpg" alt="" class="img-fluid">
                                <ul class="list-inline speaker-social">
                                    <li class="list-inline-item"><a href="https://samharden.github.io/"><i class="fas fa-link"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/samuelharden"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://github.com/samharden"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/sam-harden-5382b114/"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>

        		    <div class="speaker-info">
        			<h4 class="mb-0 mt-3">Sam Harden</h4>
        			<p>Product Consultant, vLex</p>
        		    </div>
        		</div>
        	    </div>
        	    <div class="col-lg-4 col-md-6">
        		<div class="speaker-block mb-5">
        		    <div class="img-block">
                                <img src="images/speakers/jonathan-pyle.jpg" alt="" class="img-fluid">
                                <ul class="list-inline speaker-social">
                                    <li class="list-inline-item"><a href="https://docassemble.org"><i class="fas fa-link"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/docassemble"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://github.com/jhpyle"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/jonathan-pyle-6800a75/"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>

        		    <div class="speaker-info">
        			<h4 class="mb-0 mt-3">Jonathan Pyle</h4>
        			<p>Attorney, Philadelphia Legal Assistance</p>
        		    </div>
        		</div>
        	    </div>
        	    <div class="col-lg-4 col-md-6">
        		<div class="speaker-block mb-5">
        		    <div class="img-block">
                                <img src="images/speakers/quinten-steenhuis.jpg" alt="" class="img-fluid">
                                <ul class="list-inline speaker-social">
                                    <li class="list-inline-item"><a href="https://www.nonprofittechy.com/blog/"><i class="fas fa-link"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/QSteenhuis"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://github.com/nonprofittechy"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/quintensteenhuis/"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>

        		    <div class="speaker-info">
        			<h4 class="mb-0 mt-3">Quinten Steenhuis</h4>
        			<p>Professor, Suffolk University Law School</p>
        		    </div>
        		</div>
        	    </div>
                </div>
	    </div>
        </section>
        <!-- Section Start -->
        <section class="section sponsors">
            <a name="sponsors"></a>
            <div class="container">
                <div class="row section-heading">
                    <div class="col-lg-6">
                        <div class="heading">
                            <span class="stroke-text">sponsors</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <h4 class="mb-4 text-white letter-spacing text-sm">Docacon 2020 is made possible by the following sponsors.</h4>
                    </div>
                    <div class="col-lg-12">
                        <div class="client-item">
                            <a href="https://docassemble.org"><img src="images/sponsors/docassemble-white.png" alt="" class="img-fluid"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-white mt-5 mb-4 h3">Want to be a sponsor?</h5>
                        <a target="_blank" href="https://forms.gle/Ytq2UYtv1sBobR8t9" class="btn btn-hero btn-rounded btn-no-shadow">apply to be a sponsor</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section END -->

        <section class="cta-2 section">
            <a name="location"></a>
	    <div class="container">
		<div class="row">
		    <div class="col-lg-12">
			<div class="cta-img">
			    <img src="images/stetson.jpg" alt="" class="img-fluid">
			    <div class="contact-info box-shadow">
				<h5 class="text-uppercase letter-spacing mb-4">Venue</h5>
				<h6 class="text-color mb-3">Friday, June 26, 2020</h6>
				<p class="lead">Stetson University College of Law<br>Tampa Law Center<br>1700 North Tampa Street<br>Tampa, Florida 33602<br>United States</p>
				<a href="https://goo.gl/maps/9pZ1RDXDytzqoMZE8"><i class="tf-ion-ios-location mr-2"></i>View Map location</a>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
        </section>
        <!-- <section class="latest-blog section-bottom"> -->
	<!--     <div class="container"> -->
	<!-- 	<div class="row section-heading"> -->
        <!--             <div class="col-lg-6"> -->
        <!--                 <div class="heading"> -->
        <!--                     <span class="stroke-text">News</span> -->
        <!--                     <div class="pl-90"> -->
        <!--                         <h2 class=""> Latest News update</h2> -->
        <!--                         <p>Accusantium provident suscipit dicta magni dolor deserunt nam obcaecati non veritatis optio.</p> -->
        <!--                     </div> -->
        <!--                 </div> -->
        <!--             </div> -->
        <!--         </div> -->
	<!--     </div> -->

	<!--     <div class="container"> -->
	<!-- 	<div class="row"> -->
        <!-- 	    <div class="col-lg-4 col-md-6"> -->
        <!-- 		<div class="blog-item card border-0 mb-5 mb-lg-0"> -->
        <!-- 		    <img src="images/blog/blog-img-1.jpg" alt="" class="img-fluid"> -->

        <!-- 		    <div class="p-4"> -->
        <!-- 			<h4 class="mt-2 mb-3"><a href="#">Why lead generation is key for business growth</a></h4> -->
	<!--         		<p>Illum delectus quidem nobis, impedit soluta mollitia dignissimos error.</p> -->
	<!--         		<a href="#" class="read-more text-color h6">Read More</a> -->
        <!-- 		    </div> -->
        <!-- 		</div> -->
        <!-- 	    </div> -->

        <!-- 	    <div class="col-lg-4 col-md-6"> -->
        <!-- 		<div class="blog-item card border-0 mb-5 mb-lg-0"> -->
        <!-- 		    <img src="images/blog/blog-img-2.jpg" alt="" class="img-fluid"> -->
        <!-- 		    <div class="p-4"> -->
        <!-- 			<h4 class="mt-2 mb-3"><a href="#">How to visualizze your idea in design</a></h4> -->
	<!--         		<p>Illum delectus quidem nobis, impedit soluta mollitia dignissimos error.</p> -->
	<!--         		<a href="#" class="read-more text-color h6">Read More</a> -->
        <!-- 		    </div> -->
        <!-- 		</div> -->
        <!-- 	    </div> -->

        <!-- 	    <div class="col-lg-4 col-md-6"> -->
        <!-- 		<div class="blog-item card border-0 mb-5 mb-lg-0"> -->
        <!-- 		    <img src="images/blog/blog-img-3.jpg" alt="" class="img-fluid"> -->
        <!-- 		    <div class="p-4"> -->
        <!-- 			<h4 class="mt-2 mb-3"><a href="#">Next venue in san farnscicos can join</a></h4> -->
	<!--         		<p>Illum delectus quidem nobis, impedit soluta mollitia dignissimos error.</p> -->
	<!--         		<a href="#" class="read-more text-color h6">Read More</a> -->
        <!-- 		    </div> -->
        <!-- 		</div> -->
        <!-- 	    </div> -->
	<!-- 	</div> -->
	<!--     </div> -->
        <!-- </section> -->
        <!-- Section Start -->
        <section class="section past">
            <a name="past"></a>
            <div class="container">
                <div class="row section-heading">
                    <div class="col-lg-6">
                        <div class="heading">
                            <span class="stroke-text">Past</span>
                            <p>Docacon 2020 will be the third annual conference of the docassemble user community.  The web sites for the prior conferences are archived here.</p>
			    <p class="text-white-50"><a class="btn btn-hero btn-rounded btn-no-shadow" href="2019/index.html">Docacon 2019</a> <a class="btn btn-hero btn-rounded btn-no-shadow" href="2018/index.html">Docacon 2018</a></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
        </section>
        <!-- Section END -->
        <section class="footer section">
	    <div class="container">
		<div class="row justify-content-center">
		    <div class="col-lg-6 text-center">
			<h2 class="text-white mb-3" ><a href="https://docassemble.org"><img class="bottom-logo" src="images/docassemble-white.png"></a></h2>
			<p class="text-white-50">A free, open-source expert system for guided interviews and document assembly, based on Python, YAML, and Markdown.</p>


			<ul class="list-inline footer-socails">
			    <li class="list-inline-item"><a href="https://twitter.com/hashtag/docacon20?src=hash"><i class="fab fa-twitter"></i></a></li>
			    <li class="list-inline-item"><a href="https://github.com/jhpyle/docacon-dot-com"><i class="fab fa-github"></i></a></li>
			    <li class="list-inline-item"><a href="mailto:docacon@docassemble.org"><i class="fas fa-envelope"></i></a></li>
			</ul>
		    </div>
		</div>

		<div class="row">
		    <div class="col-lg-12 text-center mt-5 ">
			<p class="copy border-top pt-4 text-white-50 mb-0">Copyright © Jonathan Pyle 2020</p>
		    </div>
		</div>
	    </div>
        </section>

        <!--
             Essential Scripts
             =====================================-->
        <!-- Main jQuery -->

        <script src="plugins/jquery/jquery.js"></script>
        <!-- Bootstrap 4.3 -->
        <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
        <!--  -->
        <script src="plugins/SyoTimer/jquery.syotimer.min.js"></script>

        <script src="js/script.js"></script>


    </body>
</html>
