<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="The annual conference of the Docassemble user community will take place on-line on June 25 and 26, 2020.">

        <meta name="author" content="Jonathan H. Pyle">

        <title>Docacon 2020</title>

        <!-- Mobile Specific Meta-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Social -->
        <meta itemprop="name" content="Docacon 2020">
        <meta itemprop="description" content="The annual conference of the Docassemble user community will take place on-line on June 25 and 26, 2020.">
        <meta itemprop="image" content="https://docacon.com/images/docacon2020.jpg">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@docassemble">
        <meta name="twitter:title" content="Docacon 2020">
        <meta name="twitter:description" content="The annual conference of the Docassemble user community will take place on-line on June 25 and 26, 2020.">
        <meta name="twitter:creator" content="@docassemble">
        <meta name="twitter:image" content="https://docacon.com/images/docacon2020.jpg">
        <meta name="twitter:image:alt" content="Docacon 2020">
        <meta property="og:title" content="Docacon 2019" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://docacon.com/" />
        <meta property="og:image" content="https://docacon.com/images/docacon2020.jpg" />
        <meta property="og:description" content="The annual conference of the Docassemble user community will take place on-line on June 25 and 26, 2020." />
        <meta property="og:site_name" content="Docacon 2020" />
        <meta property="fb:admins" content="519356657" />
        <!-- Font awesome -->
        <link rel="stylesheet" href="css/font-awesome/css/all.css">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon-32x32.png" />
        <!-- bootstrap.min css -->
        <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
        <!-- Icon Css -->
        <link rel="stylesheet" href="plugins/themefisher-font/style.css?v=2">
        <!-- animate.css -->
        <link rel="stylesheet" href="plugins/animate-css/animate.css">
        <!-- Magnify Popup -->
        <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
        <!-- Slick Slider CSS -->
        <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/style.css">

    </head>

    <body id="body">

        <!--  preloader start -->
        <div id="tb-preloader">
            <div class="tb-preloader-wave"></div>
        </div>
        <!-- preloader end -->

        <!-- Navigation Start -->

        <header class="header-bar">
            <nav class="navbar navbar-expand-lg main-nav">
                <div class="container">
                    <!--      LOGO BAR     -->
                    <a class="navbar-brand" href="index.html">
                        <img src="images/cat-on-beach2.svg" alt="docassemble logo" class="img-fluid logo-b "><span>Docacon 2020</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="tf-ion-android-menu"></span>
                    </button>

                    <!--  MAIN MENU  -->
                    <div class="collapse navbar-collapse " id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#instructors">Instructors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#schedule">Schedule</a>
                            </li>
                        </ul>
                        <a target="_blank" href="https://forms.gle/BRxTzwY5JacgSSjd8" class="btn btn-secondary btn-rounded mt-3 mt-lg-0">Register</a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Navigation End -->

        <!-- Section START-->
        <section class="section-banner d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mr-auto">
                        <div class="banner-content">
                            <span>June 25-26, 2020</span>
                            <h1 class="mt-3 mb-5">Docacon 2020</h1>
                            <h2 class="mt-3 mb-5" style="color: #ccc;">(on-line!)</h2>
                            <a href="#about" class="btn btn-hero btn-rounded">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section END-->

        <!--<section class="counter-wrap">
            <div class="container">
                <div class="position-relative counter-inner">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-12">
                            <div class="counter-stat pl-lg-5">
                                <h2 class="font-weight-light">Conference starts in</h2>
                            </div>
                        </div>

                        <div id="simple-timer" class="syotimer"></div>
                    </div>
                </div>
            </div>
        </section>-->
        <section class="section about">
            <a name="about"></a>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="about-img position-relative">
                            <img src="images/about/Quinten-Steenhuis.jpg" alt="" class="img-fluid w-100">
                            <div class="img-block">
                                <img src="images/about/docacon-2018.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="about-content-wrap mt-5 mt-lg-0">
                            <span class="stroke-text">learn</span>
                            <div class="ml-90">
                                <h2 class="text-lg mb-3 mt-3">Increase your docassemble skills</h2>
                                <p>Docacon 2020 is a series of on-line Zoom sessions focused on hands-on training.</p>
                                <p>The beginner training on Friday morning is appropriate for people who have no experience or a little experience with docassemble.</p>
                                <p>The advanced training on Thursday morning is appropriate for people who are already developing guided interviews in docassemble.</p>
                                <p>Attendees can self-select into whichever training they think is appropriate.<p>
                                <p>In addition to these primary trainings, there are additional sessions in the afternoons on both days.</p>
                                <p><b>Registration cost: free.</b>  If you enjoy using open-source software and attending free conferences, consider making a <a target="_blank" href="https://www.merlinfoundation.org/donate">donation to the Merlin Legal Open Source Foundation</a> to help sustain this and other open-source projects.</p>
                                <a target="_blank" href="https://forms.gle/BRxTzwY5JacgSSjd8" class="btn btn-hero btn-rounded mt-3">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-schedule section-bottom ">
            <a name="schedule"></a>
            <div class="container">
                <div class="row section-heading">
                    <div class="col-lg-6">
                        <div class="heading">
                            <span class="stroke-text">Schedule</span>
                            <!-- <div class="pl-90"> -->
                            <!--     <h2 class="mt-2">Topic Discussion</h2> -->
                            <!--     <p>Accusantium provident suscipit dicta magni dolor deserunt nam obcaecati non veritatis optio.</p> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead">All sessions will be held over Zoom.  To get the URLs for joining a Zoom session, <a href="https://forms.gle/BRxTzwY5JacgSSjd8">register</a>.  The links will be e-mailed to registrants prior to the conference.  Join whichever sessions you wish.</p>
                        <p class="lead">The hands-on trainings will require you to run Zoom, Slack, and a web browser at the same time.  If you have multiple devices, we recommend viewing Zoom in full screen mode on one device and using the other device for Slack and your web browser.  If you have two monitors, you could run Zoom on your second monitor.  The device on which you view Zoom should have a screen larger than 10 inches so that you can read text from a screen share.</p> 
                        <h2>Thursday, June 25</h2>
                        <h3>Advanced training</h3>
                        <p class="text-muted">9:00 a.m. to 12:00 a.m. EDT</p>
                        <p>This hands-on training is for users with substantial experience using docassemble.  If you are just getting started, the Beginner training on Friday will be more appropriate.</p>
                        <p>Topics will include: how docassemble logic works, overriding general questions with specific questions, review screens, and how to implement processes that divert from the normal interview logic.</p>
                        <p>Over the course of the morning there will be two Zoom sessions, with time in the middle to take a break from Zoom and do homework.</p>
                        <h3>Screenshare your creation</h3>
                        <p class="text-muted">13:00 to 13:45 EDT</p>
                        <p>This informal session will give you a chance to briefly share your screen and show off something you have created in docassemble.  No preparation required, but you are encouraged to share something, regardless of your level of expertise!</p>
                        <h3>Drop-in Q&amp;A and troubleshooting</h3>
                        <p class="text-muted">14:00 to 15:00 EDT</p>
                        <p>The docassemble community primarily uses Slack to ask questions and get help from peers with tricky situations.  Let's try something similar over Zoom.  Prepare some questions!</p>
                        <h3>Drop-in Q&amp;A and troubleshooting: far-away time zone edition</h3>
                        <p class="text-muted">19:00 to 20:00 EDT</p>
                        <p>Docacon 2020 is scheduled for the USA/Eastern time zone because it was originally going to be held in Florida.  This session will take place on Thursday evening, which is Friday morning in Australia.  Bring your questions and problems!</p>
                        <h2>Friday, June 26</h2>
                        <h3>Beginner training</h3>
                        <p class="text-muted">9:00 to 12:00 EDT</p>
                        <p>This training is appropriate for people who have no experience or some experience with docassemble.</p>
                        <p>Topics will include: writing a "Hello, World" interview, writing questions, using different types of fields to gather information, working with checkboxes, using basic if/else logic, controlling question order, and assembling your first document.</p>
                        <h3>Gathering groups of things</h3>
                        <p class="text-muted">14:00 to 15:00 EDT</p>
                        <p>Docassemble lets you gather lists of objects, as well as dictionaries and sets.  Using declarative "question" and "code" blocks, you can gather any arbitrary data structure.  It can get complicated, though.  This session will explain how group gathering works.  Participants from both the Advanced and Beginner trainings are welcome.</p>
                        <h3>Happy hour</h3>
                        <p class="text-muted">16:00 to 17:00 EDT</p>
                        <p>Docacon will wrap up with Zoom social hour.  Arrive whenever, leave whenever!  Bring your own beverage.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-speaker section">
            <a name="instructors"></a>
            <div class="container">
                <div class="row section-heading">
                    <div class="col-lg-6">
                        <div class="heading">
                            <span class="stroke-text">Instructors</span>
                            <!-- <div class="pl-90"> -->
                            <!--     <h2 class="">Who's teaching</h2> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="speaker-block mb-5">
                            <div class="img-block">
                                <img src="images/speakers/sam-harden.jpg" alt="" class="img-fluid">
                                <ul class="list-inline speaker-social">
                                    <li class="list-inline-item"><a href="https://samharden.github.io/"><i class="fas fa-link"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/samuelharden"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://github.com/samharden"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/sam-harden-5382b114/"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                            <div class="speaker-info">
                                <h4 class="mb-0 mt-3">Sam Harden</h4>
                                <p>Attorney and Legal Technology Consultant</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="speaker-block mb-5">
                            <div class="img-block">
                                <img src="images/speakers/jonathan-pyle.jpg" alt="" class="img-fluid">
                                <ul class="list-inline speaker-social">
                                    <li class="list-inline-item"><a href="https://docassemble.org"><i class="fas fa-link"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/docassemble"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://github.com/jhpyle"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/jonathan-pyle-6800a75/"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                            <div class="speaker-info">
                                <h4 class="mb-0 mt-3">Jonathan Pyle</h4>
                                <p>Attorney, Philadelphia Legal Assistance</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="speaker-block mb-5">
                            <div class="img-block">
                                <img src="images/speakers/quinten-steenhuis.jpg" alt="" class="img-fluid">
                                <ul class="list-inline speaker-social">
                                    <li class="list-inline-item"><a href="https://www.nonprofittechy.com/blog/"><i class="fas fa-link"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/QSteenhuis"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://github.com/nonprofittechy"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/quintensteenhuis/"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                            <div class="speaker-info">
                                <h4 class="mb-0 mt-3">Quinten Steenhuis</h4>
                                <p>Adjunct Professor and Clinical Fellow, Suffolk University Law School</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Start -->
        <!--<section class="section sponsors">
            <a name="sponsors"></a>
            <div class="container">
                <div class="row section-heading">
                    <div class="col-lg-6">
                        <div class="heading">
                            <span class="stroke-text">sponsors</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <h4 class="mb-4 text-white letter-spacing text-sm">Docacon 2020 is made possible by the following sponsors.</h4>
                    </div>
                    <div class="col-lg-12">
                        <div class="client-item">
                            <a href="https://docassemble.org"><img src="images/sponsors/docassemble-white.png" alt="Docassemble" class="img-fluid"></a>
                        </div>
                        <div class="client-item">
                            <a href="http://www.bamlegal.co.uk/"><img src="images/sponsors/bamlegal.png" alt="Bam Legal" class="img-fluid"></a>
                        </div>
                        <div class="client-item">
                            <a href="https://community.lawyer/"><img src="images/sponsors/community-lawyer.png" alt="Community.lawyer" class="img-fluid"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-white mt-5 mb-4 h3">Want to be a sponsor?</h5>
                        <a target="_blank" href="https://forms.gle/Ytq2UYtv1sBobR8t9" class="btn btn-hero btn-rounded btn-no-shadow">apply to be a sponsor</a>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- Section END -->

        <section class="cta-2 section">
            <a name="format"></a>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cta-img">
                            <img src="images/stetson.jpg" alt="" class="img-fluid">
                            <div class="contact-info box-shadow">
                                <h5 class="text-uppercase letter-spacing mb-4">Format</h5>
                                <p class="lead">Docacon 2020 was originally planned as a one-day, in-person conference in Tampa, Florida on June 26, 2020.  The conference was moved on-line due to COVID-19.<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="latest-blog section-bottom"> -->
        <!--     <div class="container"> -->
        <!--         <div class="row section-heading"> -->
        <!--             <div class="col-lg-6"> -->
        <!--                 <div class="heading"> -->
        <!--                     <span class="stroke-text">News</span> -->
        <!--                     <div class="pl-90"> -->
        <!--                         <h2 class=""> Latest News update</h2> -->
        <!--                         <p>Accusantium provident suscipit dicta magni dolor deserunt nam obcaecati non veritatis optio.</p> -->
        <!--                     </div> -->
        <!--                 </div> -->
        <!--             </div> -->
        <!--         </div> -->
        <!--     </div> -->

        <!--     <div class="container"> -->
        <!--         <div class="row"> -->
        <!--             <div class="col-lg-4 col-md-6"> -->
        <!--                 <div class="blog-item card border-0 mb-5 mb-lg-0"> -->
        <!--                     <img src="images/blog/blog-img-1.jpg" alt="" class="img-fluid"> -->

        <!--                     <div class="p-4"> -->
        <!--                         <h4 class="mt-2 mb-3"><a href="#">Why lead generation is key for business growth</a></h4> -->
        <!--                         <p>Illum delectus quidem nobis, impedit soluta mollitia dignissimos error.</p> -->
        <!--                         <a href="#" class="read-more text-color h6">Read More</a> -->
        <!--                     </div> -->
        <!--                 </div> -->
        <!--             </div> -->

        <!--             <div class="col-lg-4 col-md-6"> -->
        <!--                 <div class="blog-item card border-0 mb-5 mb-lg-0"> -->
        <!--                     <img src="images/blog/blog-img-2.jpg" alt="" class="img-fluid"> -->
        <!--                     <div class="p-4"> -->
        <!--                         <h4 class="mt-2 mb-3"><a href="#">How to visualizze your idea in design</a></h4> -->
        <!--                         <p>Illum delectus quidem nobis, impedit soluta mollitia dignissimos error.</p> -->
        <!--                         <a href="#" class="read-more text-color h6">Read More</a> -->
        <!--                     </div> -->
        <!--                 </div> -->
        <!--             </div> -->

        <!--             <div class="col-lg-4 col-md-6"> -->
        <!--                 <div class="blog-item card border-0 mb-5 mb-lg-0"> -->
        <!--                     <img src="images/blog/blog-img-3.jpg" alt="" class="img-fluid"> -->
        <!--                     <div class="p-4"> -->
        <!--                         <h4 class="mt-2 mb-3"><a href="#">Next venue in san farnscicos can join</a></h4> -->
        <!--                         <p>Illum delectus quidem nobis, impedit soluta mollitia dignissimos error.</p> -->
        <!--                         <a href="#" class="read-more text-color h6">Read More</a> -->
        <!--                     </div> -->
        <!--                 </div> -->
        <!--             </div> -->
        <!--         </div> -->
        <!--     </div> -->
        <!-- </section> -->
        <!-- Section Start -->
        <section class="section past">
            <a name="past"></a>
            <div class="container">
                <div class="row section-heading">
                    <div class="col-lg-6">
                        <div class="heading">
                            <span class="stroke-text">Past</span>
                            <p>Docacon 2020 will be the third annual conference of the docassemble user community.  The web sites for the prior conferences are archived here.</p>
                            <p class="text-white-50"><a class="btn btn-hero btn-rounded btn-no-shadow" href="2019/index.html">Docacon 2019</a> <a class="btn btn-hero btn-rounded btn-no-shadow" href="2018/index.html">Docacon 2018</a></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
        </section>
        <!-- Section END -->
        <section class="footer section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2 class="text-white mb-3" ><a href="https://docassemble.org"><img class="bottom-logo" src="images/docassemble-white.png"></a></h2>
                        <p class="text-white-50">A free, open-source expert system for guided interviews and document assembly, based on Python, YAML, and Markdown.</p>


                        <ul class="list-inline footer-socails">
                            <li class="list-inline-item"><a href="https://twitter.com/hashtag/docacon20?src=hash"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/jhpyle/docacon-dot-com"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:docacon@docassemble.org"><i class="fas fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center mt-5 ">
                        <p class="copy border-top pt-4 text-white-50 mb-0">Copyright © Jonathan Pyle 2020</p>
                    </div>
                </div>
            </div>
        </section>

        <!--
             Essential Scripts
             =====================================-->
        <!-- Main jQuery -->

        <script src="plugins/jquery/jquery.js"></script>
        <!-- Bootstrap 4.3 -->
        <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
        <!--  -->
        <script src="plugins/SyoTimer/jquery.syotimer.min.js"></script>

        <script src="js/script.js"></script>


    </body>
</html>
